<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard: Finance</title>
    <!-- Importação da fonte de ícones do Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="/css/Add.css">

</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside>
        <header class="top">
            <div class="logo">
                <img src="/images/logo.png" alt="Logo da Shadow">
                <h2 class="text-muted">SHA<span class="danger">DOW</span></h2>
            </div>
        </header>

        <nav class="sidebar">
            <a href="/Dash"  aria-label="Ir para o Dashboard">
                <span class="material-symbols-sharp">space_dashboard</span>
                <h3>Dashboard</h3>
            </a>
            <a href="/venda" aria-label="Ir para a seção de Vendas">
                <span class="material-symbols-sharp">receipt_long</span>
                <h3>Vendas</h3>
            </a>
            <a href="/desp" aria-label="Ir para a seção de Analytics">
                <span class="material-symbols-sharp">insights</span>
                <h3>Despesas</h3>
            </a>
            <a href="/pro" class="active" aria-label="Ir para a seção de Produtos">
                <span class="material-symbols-sharp">inventory</span>
                <h3>Produtos</h3>
            </a>
            <a href="config.html" aria-label="Ir para a seção de Configurações">
                <span class="material-symbols-sharp">settings</span>
                <h3>Configurações</h3>
            </a>
        </nav>
    </aside>
    <!-- Main Content -->
    <main>
        <h1>Add Produtos</h1>

        <section class="recent-orders">
            <h2>Formulário de Produtos</h2>
            <form action="/pro/add" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>Nome do Produto</th>
                        <th>Valor por Uni</th>
                        <th>Descrição</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" name="nameProduct" placeholder="Nome do produto" required></td>
                        <td><input type="number" name="price" placeholder="Valor" step="0.01" required></td>
                        <td><textarea name="description" placeholder="Descrição"></textarea></td>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="primary-btn">Salvar Produto</button>
            </form>
        </section>
    </main>

    <!-- Right Sidebar -->
    <div class="right">
        <div class="top">
            <div class="theme-toggler">
                <span class="material-symbols-sharp">light_mode</span>
                <span class="material-symbols-sharp">dark_mode</span>
            </div>

            <div class="profile" onclick="toggleSubMenu()">
                <div class="info">
                    <p>Oi, <b>Shadow</b></p>
                    <small class="text-muted">Administrador</small>
                </div>
                <div class="profile-photo">
                    <img src="/images/Admin.jpg" alt="" />
                </div>
            </div>

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/images/Admin.jpg" alt="Perfil">
                        <h2>Shadow</h2>
                    </div>
                    <hr>
                    <a href="/profile">
                        <span class="material-symbols-sharp">person</span>
                        Meu Perfil
                    </a>
                    <a href="/settings">
                        <span class="material-symbols-sharp">settings</span>
                        Configurações
                    </a>
                    <a href="/logout">
                        <span class="material-symbols-sharp">logout</span>
                        Sair
                    </a>
                </div>
            </div>



            <section class="recent-updates">
            <h2>Atualizações Recentes</h2>
            <div class="updates">
                <div class="update">
                    <div class="profile-photo">
                        <img src="/images/Admin.jpg" alt="Foto de perfil">
                    </div>
                    <div class="message">
                        <p><b>Shadow (admin)</b> recebeu seu pedido agora.</p>
                        <small class="text-muted">Há 2 minutos</small>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/js/index.js"></script>

</body>
</html>
