<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard: Finance</title>

    <!-- Importação da fonte de ícones do Material Symbols -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="css/Dash.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <aside>
        <header class="top">
            <div class="logo">
                <img src="./images/logo.png" alt="Logo da Shadow" />
                <h2 class="text-muted">SHA<span class="danger">DOW</span></h2>
            </div>
        </header>

        <nav class="sidebar">
            <a href="/Dash" class="active" aria-label="Ir para o Dashboard">
                <span class="material-symbols-sharp">space_dashboard</span>
                <h3>Dashboard</h3>
            </a>
            <!--            <a href="#" class="active" aria-label="Ir para a seção de Clientes">-->
            <!--                <span class="material-symbols-sharp">person_outline</span>-->
            <!--                <h3>Clientes</h3>-->
            <!--            </a>-->
            <a href="/venda" aria-label="Ir para a seção de Pedidos">
                <span class="material-symbols-sharp">receipt_long</span>
                <h3>Vendas</h3>
            </a>
            <a href="/desp" aria-label="Ir para a seção de Analytics">
                <span class="material-symbols-sharp">insights</span>
                <h3>Despesas</h3>
            </a>
            <!--        <a href="#" aria-label="Ir para a seção de Mensagens">-->
            <!--                <span class="material-symbols-sharp">mail_outline</span>-->
            <!--                <h3>Mensagens</h3>-->
            <!--                <span class="message-count">26</span>-->
            <!--            </a>-->
            <a href="/pro" aria-label="Ir para a seção de Produtos">
                <span class="material-symbols-sharp">inventory</span>
                <h3>Produtos</h3>
            </a>
            <!--            <a href="#" aria-label="Ir para a seção de Relatórios">-->
            <!--                <span class="material-symbols-sharp">report_gmailerrorred</span>-->
            <!--                <h3>Relatórios</h3>-->
            <!--            </a>-->
            <!--            <a href="#" aria-label="Adicionar um novo Produto">-->
            <!--                <span class="material-symbols-sharp">add</span>-->
            <!--                <h3>Adicionar Produto</h3>-->
            <!--            </a>-->
            <a href="config.html" aria-label="Ir para a seção de Configurações">
                <span class="material-symbols-sharp">settings</span>
                <h3>Configurações</h3>
            </a>
        </nav>
    </aside>

    <!-- Main Content -->
    <main>
        <h1>Dashboard</h1>

        <section class="date">
            <input type="date" aria-label="Escolher data">
        </section>

        <section class="insights">
            <!-- Sales -->
            <div class="sales">
                <span class="material-symbols-sharp">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total de Vendas</h3>
                        <h1>$<span th:text="${somaVendasTotal}"></span></h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Últimas 24 Horas</small>
            </div>

            <!-- Expenses -->
            <div class="expenses">
                <span class="material-symbols-sharp">bar_chart</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total de Despesas</h3>
                        <h1>$<span th:text="${somaDespes}"></span></h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>62%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Últimas 24 Horas</small>
            </div>

            <!-- Income -->
            <div class="income">
                <span class="material-symbols-sharp">analytics</span>
                <div class="middle">
                    <div class="left">
                        <h3>Total de Receitas</h3>
                        <h1>$10,864</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">Últimas 24 Horas</small>
            </div>
        </section>

        <section class="recent-orders">
            <h2>Vendas Recentes</h2>
            <table>
                <thead>
                <tr>
                    <th>Numero de venda</th>
                    <th>Nome</th>
                    <th>Forma de pagamento</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="venda : ${vendas}">
                    <td th:text="${venda.numberBuyID}"></td> <!-- Exibe o número da venda -->
                    <td th:text="${venda.product.nameProduct}"></td>
                    <td class="warning" th:text="${venda.TypeBuy}"></td> <!-- Exibe o tipo de compra -->
                    <td th:text="${venda.quantity}"></td>
                    <td th:text="${venda.priceTotal}"></td> <!-- Exibe o preço total -->
                    <td th:text="${venda.created}"></td> <!-- Exibe o botão de detalhes -->
                </tr>
                </tbody>
            </table>

            <a href="/venda">Ver Todos</a>
        </section>
    </main>

    <!-- Right Sidebar -->
    <div class="right">
        <div class="top">
            <div class="theme-toggler">
                <span class="material-symbols-sharp">light_mode</span>
                <span class="material-symbols-sharp">dark_mode</span>
            </div>

            <div class="profile" onclick="toggleSubMenu()">
                <div class="info">
                    <p>Oi, <b>Shadow</b></p>
                    <small class="text-muted">Administrador</small>
                </div>
                <div class="profile-photo">
                    <img src="images/Admin.jpg" alt="" />
                </div>
            </div>

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="images/Admin.jpg" alt="Perfil">
                        <h2>Shadow</h2>
                    </div>
                    <hr>
                    <a href="/profile">
                        <span class="material-symbols-sharp">person</span>
                        Meu Perfil
                    </a>
                    <a href="/settings">
                        <span class="material-symbols-sharp">settings</span>
                        Configurações
                    </a>
                    <form action="/logout" method="post">
                        <button type="submit"><a><span class="material-symbols-sharp">logout</span>Sair</a></button>
                    </form>
                </div>
            </div>

            <section class="recent-updates">
                <h2>Atualizações Recentes</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="./images/Admin.jpg" alt="" />
                        </div>
                        <div class="message">
                            <p><b>Shadow (admin)</b> recebeu seu pedido agora.</p>
                            <small class="text-muted">Há 2 minutos</small>
                        </div>
                    </div>
                    <!-- Outras atualizações -->
                </div>
            </section>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>
</html>
