<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard:Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" />
    <link rel="stylesheet" href="css/Login.css">
</head>
<body>
<div class="container">
    <div class="curved-shape"></div>
    <div class="curved-shape2"></div>
    <div class="form-box Login">
        <h2 class="animation">Login</h2>
        <form action="/login" method="post">
            <div class="input-box animation">
                <input type="text" name="username" id="username" required>
                <label for="username">Username</label>
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="input-box animation">
                <input type="password" name="password" id="password" required>
                <label for="password">Password</label>
                <span class="material-symbols-sharp">lock</span>
            </div>
            <div class="input-box animation">
                <button class="btn" type="submit">Login</button>
            </div>

            <!-- Exibe a mensagem de erro, se houver -->
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>  <!-- Exibe o erro de login -->
            </div>
        </form>


    </div>
    <div class="info-content">
        <h2 class="animation">WELCOME BACK</h2>
        <p class="animation">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <!--<div class="form-box Register">
        <h2>Register</h2>
        <form action="#">
            <div class="input-box animation">
                <input type="text" required>
                <label for="">Username</label>
                <span class="material-symbols-sharp">person</span>
            </div>
            <div class="input-box animation">
                <input type="text" required>
                <label for="">Password</label>
                <span class="material-symbols-sharp">lock</span>
            </div>
            <div class="input-box animation">
                <button class="btn" type="submit">Register</button>
            </div>
            <div class="regi-link animation">
                <p>Don't have an account ? <a href="#" class="SignInLink">Sign in</a></p>
            </div>
        </form>
    </div>
    <div class="info-content Register">
        <h2 class="animation">WELCOME BACK</h2>
        <p class="animation">Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
    </div> -->
</div>
<script src="js/index.js"></script>
</body>
</html>